flows.json
[{"id":"80a35851.abe118","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b7d720fa.668dd","type":"ui_form","z":"80a35851.abe118","name":"","label":"inputs","group":"94e28f97.b3637","order":0,"width":0,"height":0,"options":[{"label":"v1","value":"v1","type":"number","required":true},{"label":"v2","value":"v2","type":"number","required":true},{"label":"v3","value":"v3","type":"number","required":true},{"label":"v4","value":"v4","type":"number","required":true},{"label":"v5","value":"v5","type":"number","required":true},{"label":"v6","value":"v6","type":"number","required":true},{"label":"Amount","value":"am","type":"number","required":true}],"formValue":{"v1":"","v2":"","v3":"","v4":"","v5":"","v6":"","am":""},"payload":"","submit":"Proceed","cancel":"Decline","topic":"","x":88,"y":129,"wires":[["519cc6ad.aafb58","c0424459.95df98"]]},{"id":"519cc6ad.aafb58","type":"debug","z":"80a35851.abe118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":308,"y":77,"wires":[]},{"id":"c0424459.95df98","type":"function","z":"80a35851.abe118","name":"global","func":"global.set(\"v1\",msg.payload.v1)\nglobal.set(\"v2\",msg.payload.v2)\nglobal.set(\"v3\",msg.payload.v3)\nglobal.set(\"v4\",msg.payload.v4)\nglobal.set(\"v5\",msg.payload.v5)\nglobal.set(\"v6\",msg.payload.v6)\nglobal.set(\"am\",msg.payload.am)\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":277,"y":179,"wires":[["13c9d3cd.3ba18c","f9160dce.0f762"]]},{"id":"13c9d3cd.3ba18c","type":"http request","z":"80a35851.abe118","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":459.5,"y":225,"wires":[["2742c53b.5245ca","a9e6cdd1.832a4"]]},{"id":"2742c53b.5245ca","type":"function","z":"80a35851.abe118","name":"token","func":"var token=msg.payload.token\nvar v1=global.get(\"v1\")\nvar v2=global.get(\"v2\")\nvar v3=global.get(\"v3\")\nvar v4=global.get(\"v4\")\nvar v5=global.get(\"v5\")\nvar v6=global.get(\"v6\")\nvar am=global.get(\"am\")\n\nmsg.payload={\"fields\":[\"v1\",\"v2\",\"v3\",\"v4\",\"v5\",\"v6\",\"am\"],\"values\":[[v1,v2,v3,v4,v5,v6,am]]}\nmsg.headers={\"Authorization\":'Bearer'+token};\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":206,"wires":[["6773d101.fc987","9ddb2bc5.de2208"]]},{"id":"f9160dce.0f762","type":"debug","z":"80a35851.abe118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":458,"y":138,"wires":[]},{"id":"6773d101.fc987","type":"http request","z":"80a35851.abe118","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/4c3cf92a-c08f-4546-bd50-0a13e0580186/deployments/ec9d6017-0fbf-46fd-a58c-fa7e7810de74/online","tls":"","proxy":"","authType":"","x":948.5,"y":170,"wires":[["c5d3c4ef.f08948","f783e3cb.84cd9"]]},{"id":"a9e6cdd1.832a4","type":"debug","z":"80a35851.abe118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":651,"y":269,"wires":[]},{"id":"9ddb2bc5.de2208","type":"debug","z":"80a35851.abe118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":874,"y":271,"wires":[]},{"id":"c5d3c4ef.f08948","type":"debug","z":"80a35851.abe118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1144,"y":134,"wires":[]},{"id":"f783e3cb.84cd9","type":"function","z":"80a35851.abe118","name":"predict","func":"msg.payload=msg.payload.values[0][2][0]\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":295,"wires":[["faa5a842.62d3c8"]]},{"id":"faa5a842.62d3c8","type":"ui_text","z":"80a35851.abe118","group":"94e28f97.b3637","order":1,"width":0,"height":0,"name":"Prediction","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1285.5,"y":341,"wires":[]},{"id":"94e28f97.b3637","type":"ui_group","z":"","name":"Credit Card Fraud Detection","tab":"53bc9a7f.4c87b4","disp":true,"width":"6","collapse":false},{"id":"53bc9a7f.4c87b4","type":"ui_tab","z":"","name":"Credit Card Fraud","icon":"dashboard","disabled":false,"hidden":false}]